/app/config/parameters.yml
/build/
/phpunit.xml
/app/cache/*
/app/logs/*
/app/logs/dev.log
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/bin/*
!bin/console
!bin/symfony_requirements
/app/bootstrap.php.cache
/var/bootstrap.php.cache
/vendor/

# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
build/*
bin/*
*/logs/*
*/cache/*
!app/cache/.gitkeep
!app/logs/.gitkeep


# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# Composer
composer.phar

# Linux tmp
*~

# OSX & DreamWeaver
.DS_Store
_notes/
