body {
  overflow: hidden;
}
.nome{
  display: none;
}
@media (max-width: 768px){
  .nome {
      display: inline;
  }
  .navbar-default {
      top: 0;
      width: 100%;
      position: fixed;
  }
}
@media (min-width: 768px){
.navbar-toggle {
    display: none;
}
.navbar-collapse.collapse {
    display: block!important;
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
}
.navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
}
.nav>li {
    position: relative;
    display: block;
    float: left;
}
}
