@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
  background: #fff;
  font-family: 'Raleway', sans-serif;
  color:#4e4e4e;
}
h1 strong{
  font-weight: bold;
  font-size: 20px;
}
h1{
  margin-top: -10px;
  margin-left: 37%;
  font-weight: bold;
  color:#c52d2f;
  font-size: 20px;
}
h3{
  font-weight: bold;
  font-size: 16px;
}
h4{
  font-size: 12px;
}
p{
  font-size: 12px;
}
.img{
  border-radius: 5px;
  height: 50px;
}
