{% extends "::base.html.twig" %}
{% block body %}
{% include 'FrontendBundle:Include:menu.html.twig' %}
<div class="row">
  <div class="col-sm-12">
    <div class="col-md-3">
    {% for f in fotocategoria %}
    <a href="{{ path('foto', { id: f.id }) }}">
      <img class="img-responsive" src="{% path f.image, 'reference' %}" alt="">
    </a>
    {% endfor %}
  </div>
  </div>
</div>
{% endblock %}
