{% extends "::base.html.twig" %}
{% block body %}
<div class="row">
  <div class="col-sm-4">
    <ul class="scroller">
    {% for f in foto %}
      <li class="hovereffect">
        <img class="img-responsive" src="{% path f.image, 'reference' %}" alt="">
        <div class="overlay">
          <h2></h2>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-sm-8">
    <h1><a href="{{ path('home')}}">LUISA GALDO</a></h1>
    {% for v in video %}
      <iframe id="vimeo_player" src="http://player.vimeo.com/video/{{ v.video.providerReference }}?autoplay=1&loop=1&mute=0&autopause=0&background=1" width="100%" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    {% endfor %}
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{ path('foto-categoria')}}">Photo <span class="sr-only"></span></a></li>
        <li><a href="#">Video</a></li>
        <li><a href="#">Personal</a></li>
        <li><a href="#">Article</a></li>
      </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    <!--<video class="img-responsive" loop autoplay><source src="https://vimeo.com/81428092"></video>-->
  </div>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
<script src="https://player.vimeo.com/api/player.js"></script>
<script src="{{ asset('public/js/jquery.simplyscroll.js') }}"></script>
<script type="text/javascript">
    var iframe = document.querySelector('iframe');
    var player = new Vimeo.Player(iframe);
    player.setVolume(0);
</script>
<script type="text/javascript">
$(".scroller .simply-scroll-list").css({"height":"auto"});
        (function($) {
         $(function() {
          $(".scroller").simplyScroll({
            customClass: 'vert',
            orientation: 'vertical',
           speed:1,
           pauseOnHover:false,
           direction:'backwards',
           customClass:'vert'});
      });
     })(jQuery);
 </script>
{% endblock %}
