{% if video %}
    {% for v in video %}
    <div class="col-md-12 portfolio-item">
      <a class="portfolio-link" href="{{ path('video', { id: v.id }) }}">
        <div class="portfolio-hover">
          <div class="portfolio-hover-content">
            {{v.name}}
            <!--<i class="fa fa-plus fa-3x"></i>-->
          </div>
        </div>
        <img class="image-video" src="{% path v.image, 'reference' %}"></img>
      </a>
      </div>
    {% endfor %}
{% endif %}
